.canvas-cell {
    width: 60px;
    padding: 0;
}
.collapse-bar {
    background-color: #ddd;
    text-align: center;
    padding: 2px 0 4px 0;
    //width: 100%;
}
.collapse-bar:hover {
    background-color: #ccc;
}
#container {
    height: 100vh;
}
.custom-menu {
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #eee;
    color: #333;
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
}
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}
.custom-menu li:hover {
    background-color: #DEF;
}
.cycle-counter {
    font-size: 20px;
}
.error-text {
    color: red;
}
.fixed-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.footer {
    position: fixed;
    bottom: 0;
    background-color: #eee;
    display: block;
    width: 100%;
    padding: 0px 4px;
    border-top: 4px solid #ddd;
    z-index: 1;
}
.footer-table th,
.footer-table td {
    padding: 3px 10px;
}
#graph-container{
    position: absolute;
    //top: 0;
    //height: 100vh;
    width: 100%;
}
.hide-header-btn {
    display: block;
    text-decoration: none;
    color: #555;
}
.hover-info {
    background-color: #fff;
}
.hover-info p {
    margin: 0 5px;
}
.input-display {
    overflow: auto;
    margin: 4px;
}
.input-display td {
    width: 30px;
    height: 30px;
    text-align: center;
    background: white;
    color: #888;
    border: 1px solid gray;
    vertical-align: middle;
}
.input-display td.highlight {
    background-color: yellow;
    font-weight: bold;
}
.input-display td.report {
    background-color: #ff77ff;
}
.input-display td.report.highlight {
    background-color: #ffdd99;
}
.input-display-table {
    border: 1px solid gray;
    table-layout: fixed;
    width: 100%;
}
.input-display-table a:link {
    text-decoration: inherit;
    display: block;
    color: black;
    cursor: auto;
    width: 100%;
    height: 100%;
    padding: 4px 0;
}
.input-display-table a:visited {
    text-decoration: inherit;
    color: black;
    cursor: auto;
}
.header-table td,
.header-table th {
    padding: 3px 5px;
}
.jumbotron {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
kbd {
    background-color: #eee;
    color: #222;
    box-shadow: 0px 2px 2px -1px;
    vertical-align: middle;
}
.legend-container {


}
.legend-container>table>tbody>tr>td {
    vertical-align: middle;
}
.settings-container {
    background: #fff;
    padding: 4px;
    overflow: auto;
    height: 90px;
}
.sidenav {
    background: #333;
}
.slider {
    width: 150px;
}
.ste-options-table {
    width: 100%;
}
.ste-options-table td {
    padding: 2px 6px;
}
td {
    vertical-align: middle;
}