.collapse-bar {
    background-color: #ddd;
    text-align: center;
    padding: 2px 0 4px 0;
    //width: 100%;
}
.collapse-bar:hover {
    background-color: #ccc;
}
.fixed-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.footer {
    position: fixed;
    bottom: 1px;
    background-color: #eee;
    display: block;
    width: 100%;
    padding: 0px 4px;
    border-top: 4px solid #ddd;
    z-index: 1;
}
.footer-table {
    //border: 1px solid black;
}
.footer-table-td {
    margin: 3px 10px;
    padding: 3px 20px;
}
.footer-text {
    // margin: 2px 10px;
    padding: 3px 10px;
}
#graph-container{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
}
.hide-header-btn {
    display: block;
    text-decoration: none;
    color: #555;
}

.input-table-cell {
    padding: 3px 5px;
}
.input-display {
    overflow: auto;
    margin: 4px;
}
.input-display td {
    width: 30px;
    height: 30px;
    text-align: center;
    background: white;
    border: 1px solid gray;
    vertical-align: middle;
}
.input-display td.highlight {
    background-color: yellow;
}
.input-display td.report {
    background-color: #ff77ff;
}
.input-display-table {
    border: 1px solid gray;
    table-layout: fixed;
    width: 100%;
}
.jumbotron {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.settings-container {
    background: #fff;
    padding: 4px;
    overflow: auto;
}
.slider {
    width: 150px;
}